body{
    background-color: #f8f9fa!important;
    padding-top: 4em;
}
table{
    background-color: #fff;
}

.select-names{
    padding: .4em .1em;
    border-radius: .25em;
    margin-right: 1em;
}

.container-fluid{
    padding-right: 0;
    padding-left: 0;
}

.btn{
    margin-bottom: .25em;
}

.td-content {
    width: 100%;
    padding: 8px;
	background-color: yellow;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.td__delete-btn {
	cursor: pointer;
}

.table td {
    padding: 0;
  }